h1, h2, h3, h4, h5, h6 {
    color: #5EB0DB;
}

body{
    font-family: 'Courier New' !important;
    color: #faa200;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #2b2f32;
  }

.navigation{
    color: #faa200;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}




.content-section {
    background: rgba(63, 63, 63, 0.96);
    padding: 10px 20px;
    /*border: 1px solid #dddddd;*/
    border-radius: 3px;
    margin-bottom: 20px;
}



.article-title {
    color: #dfdfdf;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #faa200;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgb(255, 255, 255);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgb(255, 255, 255);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*

Colors:

#5EB0DB   Main (sat)
#A4CCE1  pre main (unsat)
#27495C   low main (dark trist)
#43535C   gray trist color

#000000    black
#FFFFFF    white

*/
